.navfocus {
  font-weight: bolder;
  text-decoration: underline;
}

.navNoFocus {
  color: black;
  text-decoration: none;
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #FFF7ED;
  height: 10%;
  flex-shrink: 0;
}

.navVanLife {
  color: black;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
}

.navRight {
  display: flex;
  gap: 15px;
}