.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vansContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  /* border: solid red 1px; */
  justify-items: center;
  overflow:auto;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey border */
  border-top: 4px solid #3498db; /* Blue border for the spinning part */
  border-radius: 50%; /* Makes it a circle */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
